.NFTs{
    font-size: 100px;
    .NFTHead{
        position:relative;
        z-index: 4;
        color: #f7d22d;
        text-shadow:  20px 20px 20px rgb(255, 200, 0);
        -webkit-animation: glow 2s linear infinite;
        -webkit-text-stroke: 0.1px black;
        -webkit-text-stroke-color: #392f03;
        font-family: 'Ringbearer Medium';
        font-style: normal;
        font-weight: normal;
        font-size: 2vw;
       
        
    }
    .NFTContent{
        display: flex;
        justify-content: center;
        .NFT{
            padding-left: 3vw;
            img{
                border-radius: 3vw;
                width: 20vw;
            }
            
        }
    }
    
}