.BigCastle{
   padding-left: 50vw;
   position: absolute;
   top: 100vh;
   -webkit-animation: wiggle 5s ease infinite;
   z-index: 9998;
   .Castle1{
    max-width: 120vh;
 }
}

@keyframes wiggle
{
    0% {
        top: 100vh;
    }
    50%{
        top: 105vh;
    }
    100%{
        top: 100vh;
    }
}
