.BigCastle{
   padding-left: 100vw;
   position: absolute;
   margin: -90vh;
   -webkit-animation: wiggle 5s ease infinite;
   z-index: 9998;
   .Castle1{
    width: 25vw;
 }
}

@keyframes wiggle
{
    0% {
        top: 100vh;
    }
    50%{
        top: 105vh;
    }
    100%{
        top: 100vh;
    }
}
