.Teamm{
    position: relative;
    padding-top: 100vh;
    .TeamHeading{
        padding-bottom: 5vh;
        color: #f7d22d;
        text-shadow:  20px 20px 20px rgb(255, 200, 0);
        -webkit-animation: glow 2s linear infinite;
        -webkit-text-stroke: 0.1px black;
        -webkit-text-stroke-color: #392f03;
        font-family: 'Ringbearer Medium';
        font-style: normal;
        font-weight: normal;
        font-size: 2vw;
    }
    .CardText{
        font-family: Poppins;
        font-weight: 800;
        background-color: #e6c120;
    }
    .TeamMems{
        display: flex;
        justify-content: center;
    }
    .bio{
        padding-bottom: 2vh;
        padding-left: 20vw;
        padding-right: 20vw;
        text-align: left;
        font-family: 'Ringbearer';
        color: white;
        display: flex;
        .circleimage{
            width: 20vh;
            height: 20vh;

        }
        .biobody{
            .bioname{
                color: #e6c120;
            }
            padding-left: 5vw;
        }
    }
}