.Team{
    position:relative;
    z-index: 4;
    .TeamHeading{
        color: #f7d22d;
        text-shadow:  20px 20px 20px rgb(255, 200, 0);
        -webkit-animation: glow 2s linear infinite;
        -webkit-text-stroke: 0.1px black;
        -webkit-text-stroke-color: #392f03;
        font-family: 'Ringbearer Medium';
        font-style: normal;
        font-weight: normal;
        font-size: 2vw;
    }
    .CardText{
        font-family: Poppins;
        font-weight: 800;
        background-color: #e6c120;
    }
    .TeamMems{
        display: flex;
        padding: 30px;
        justify-content: center;
        .Member{
            
        }
    }
}