.HomeBody{
  // -webkit-text-stroke-color: #390303;
  
  // -webkit-text-stroke: 0.1px black;

    
  .HomeHead{
    color: #eacb03;
    text-shadow:  20px 20px 20px rgb(255, 189, 67);
    // -webkit-animation: glow 2s linear infinite;
    margin-top: 35vh;
    font-family: 'Ringbearer Medium';
    font-style: normal;
    font-weight: normal;
    font-size: 3vw;
    -webkit-animation: glow 2s linear infinite;
  }
  
  .HomeContent{
    -webkit-animation: fadein 3s ease;
      padding-right: 10vw;
      padding-left: 10vw;
      color: rgb(255, 255, 255);
      font-size: 1.5vw;
      font-family:'HighTower';
      font-style: normal;
      font-weight: normal;
      text-shadow:  1px 1px 1px rgb(0, 0, 0);
      box-shadow: #7b0c00;

      
  }
    .castlebig{
        width: 1px;
    }
   
}

@font-face {
  font-family: 'HighTower';
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/high-tower-text/HTOWERT.TTF");
  }

@font-face {
    font-family: 'Ringbearer Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Ringbearer Medium'), url("../../assets/fonts/ringbearer-cufonfonts-webfont/RINGM___.woff") format('woff');
    }

@keyframes glow
{
  0%{
    text-shadow:  0px 0px 10px rgb(162, 0, 0);
    -webkit-text-stroke-color: #9b1000;
    -webkit-text-stroke-width: 0.1vh;
  }
  50%{
    text-shadow:  0px 0px 10px rgb(254, 218, 37);
    -webkit-text-stroke-color: #7b0c00;
    -webkit-text-stroke-width: 0.1vh;
  }
  100%{
    text-shadow:  0px 0px 10px rgb(162, 0, 0);
    -webkit-text-stroke-color: #9b1000;
    -webkit-text-stroke-width: 0.1vh;
  }

}

@keyframes fadein {
  from {opacity: 0; padding-top: 100px; text-shadow:#7b0c00;}
  to {opacity: 1; padding-top: 0px; text-shadow:#7b0c00;}  
  
}



