.Menubar{
   background-color: black;
   background-blend-mode:luminosity;
   color: white;
   height: 8vh;
   width: 100vw;
   top: 0px;
   z-index: 9999;
   
   
   .Navbar{
      
      font-family:Poppins;
      .Menulist{
        list-style-type: none;
        display: flex;
        flex-direction: row-reverse;
        padding-right: 5vw;
        .Home{
         padding: 2vh 2vw;
         font-size: 3vh;
        }
        .Roadmap{
         padding: 2vh 2vw;
         font-size: 3vh;
        }
        .Team{
         padding: 2vh 2vw;
         font-size: 3vh;
        }
        .LogoMain{
         padding-right: 53vw;
            img{
               width: 14vw;
            }
        }
      }
      
   }
   position: fixed;
   
}


 