.Menubar{
   background-color: black;
   color: white;
   height: 8vh;
   width: 100vw;
   top: 0px;
   z-index: 9999;
   scroll-behavior: smooth;
   text-decoration: none;   
   
   .Navbar{
      .socialsbox{
         .discord{
            width: 2vw;
            padding-top: 2vh;
         }
         padding-top: 30vh;
      }
      
      
      font-family:HighTower;
      .Menulist{
        list-style-type: none;
        display: flex;
        flex-direction: row-reverse;
        padding-right: 5vw;
        text-decoration: none;  
        .Home{
         padding: 2vh 1vw;
         font-size: 3vh;
         visibility: hidden;
        }
        .Roadmap{
         padding: 2vh 1vw;
         font-size: 3vh;
         a{
            text-decoration: none;
            color: white;
            
         }
        }
        .Team{
         padding: 2vh 2vw;
         font-size: 3vh;
         scroll-behavior: smooth;
         text-decoration: none;  
        }
        .LogoMain{
         padding-right: 35vw;
            img{
               height: 8vh;
            }
        }
      }
      
   }
   position: fixed;
   
}

@font-face {
   font-family: 'HighTower';
   font-style: normal;
   font-weight: normal;
   src: url("../../assets/fonts/high-tower-text/HTOWERT.TTF");
   }
 

 